body{
  background-color: palevioletred;
}
.todoform{
background-color: plum;
min-height: 500px;
width: 400px;
margin:40px auto;
border: 1px solid black;
border-radius: 10px;
}

#main input{
border:0;
width: 200px;
height: 50px;
padding: 0 20px;
margin: 20px;
font-size: 18px;
border-radius: 10px;
border: 1px solid black;
color: black;
}


#main button{
  height:50px;
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: yellowgreen;
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}